@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
.btn-container {
  text-align: center;
}
.btn {
  padding: 15px 23px 15px 23px;
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  background: rgb(82, 195, 3);
  border: none;
  cursor: pointer;
}
#hero {
  height: 970px;
  background-image: linear-gradient(
      00deg,
      rgb(16, 16, 16) -19.5%,
      rgba(16, 16, 16, 0) 100%
    ),
    url("../assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero .hero-content {
  width: 727px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#hero .hero-content .subtitle {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 25px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.8;
}
#hero .hero-content .title {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 46px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0%;
  text-align: center;
}
#hero .hero-content .description {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 12.5px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
}
/* card box  */

#card-box {
  width: 937px;
  /* background-color: aqua; */
  margin: 118px auto;
}
#card-box .title {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0%;
  text-align: center;
}
#card-box .subtitle {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 17.5px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.6;
}
.card-container {
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  font-family: Work Sans;
}
.card {
  max-width: 301px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.card .image-box {
  width: 301px;
}

.card .image-box img {
  width: 100%;
}
.card .shop {
  border-radius: 8px;

  background: rgba(82, 195, 3, 0.15);
  padding: 10px 23px 10px 23px;
}
.card p {
  text-align: center;
}

/* section-three  */
#section-three {
  width: 1363px;
  text-align: center;
  margin: 50px auto;
  /* background-color: red; */
}
#section-three .main-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-body {
  margin: 0px;
}
.main-image img {
  width: 681px;
  height: 480px;
}
.main-body .details {
  max-width: 50%;
  margin-top: 20px;
}
 h1 {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0%;
  margin-top: 20px;
}
 p {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  opacity: 0.6;
  margin-top: 20px;
}
.details h3 {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 25px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0%;
  margin-top: 30px;
  opacity: 0.7;
  
}
.details .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.details .icon i {
    font-size: 25px;
    margin-top: 20px;
    
    
}
#last-section{
  max-width: 1371px;
  margin: 50px auto;
  /* background-color: red; */

}

#last-section .details{
  text-align: center;
  padding-bottom: 100px;

}
#last-section .details .h3 {
  margin-bottom: 500px;
}